@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.card {
  box-shadow: rgba(66, 66, 63, 0.25) 0px 50px 100px -20px,
    rgba(41, 38, 38, 0.3) 0px 30px 60px -30px,
    rgba(136, 174, 212, 0.35) 0px -2px 6px 0px inset;
    background-color:whitesmoke
    font-family: 'Lato', sans-serif;
}
